@import url(./utils.css);

html {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

img {
  max-width: 100%;
}

p,
h3,
h4 {
  margin: 0;
  line-height: 1rem;
}

.flex {
  display: flex;
}

/*****/
.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.title-3 {
  color: white;
}

.subtitle-4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
}

.home-page {
  width: 100vw;
  min-height: 100vh;
  background-image: url(./assets/images/bg-gradient.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.liquidity-card {
  background: linear-gradient(75.96deg, #14181F 0%, #272A31 100%);
  border-radius: 24px;
  width: 820px;
  padding: 2rem;
}

.token-card,
.input-card {
  background: #080808;
  border-radius: 16px;
  padding: 12px;
  width: 100%;
}

.input-card {
  background: rgba(20, 24, 31, 0.64);
}

.token-select {
  display: inline-flex;
  align-items: center;
  background: #232530;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 0 10px;
  height: 40px;
  cursor: pointer;
}

.token-select img {
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.token-select .token-name {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  margin-left: 6px;
  line-height: 0;

}

.token-select .arrow {
  margin-left: 10px;
  color: white;
  font-size: 24px;
  align-self: flex-end;
}

.balance {
  font-size: 10px;
  color: #6C7080;
}

.use-max-balance {
  background: #2B3144;
  border-radius: 4px;
  font-size: 10px;
  color: #6DFFA7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 3px;
  cursor: pointer;
}

.amount-input {
  display: inline-flex;
  height: 40px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: right;
  box-sizing: border-box;
  -webkit-appearance: none;
}

.amount-input:focus {
  outline: none;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.input-card .amount-input {
  width: 91px;
  text-align: center;
  color: #6DFFA7;
  height: 32px;
}

.input-card h4,
.input-card p {
  margin: 0;
}

.input-card h4 {
  font-size: 14px;
  font-weight: 500;
}

.input-card p {
  font-size: 12px;
  color: #96969A;
}

.input-card button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/** submit button/confirm button **/
.add-confirm {
  background: #6DFFA7;
  border-radius: 49px;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.add-confirm:disabled {
  background: rgba(255, 255, 255, 0.08);
  color: #9295A6;
}


/**
  token selection modal
**/
.token-selection-modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.token-selection-modal {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(247, 248, 250);
  box-shadow: rgb(47 128 237 / 5%) 0px 4px 8px 0px;
  padding: 12px;
  width: 50vw;
  max-width: 420px;
  border-radius: 20px;
  padding-bottom: 0;
  overflow: hidden;
}

.token-selection-modal .header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/**
  token search input
**/
.token-search-container input {
  width: 100px;
  height: 42px;
  border-radius: 12px;
  border: 1px solid #9295A6;
  background-color: #fff;
  padding: 0 12px;
  width: 100%;
  box-sizing: border-box;
  color: #9295A6;
  font-weight: 400;
  font-size: 16px;
}

.token-search-container input:focus {
  border-color: #9295A6;
  outline: none;
}

.token-list {
  margin: 0 -12px;
  max-height: 300px;
  overflow-y: auto;
}

.token-list-item {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  width: 100%;
  box-sizing: border-box;
}

.token-list-item:hover {
  cursor: pointer;
  background-color: rgb(237, 238, 242);
}

.token-list-item img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.token-list-item .info {
  color: #000;
  margin-left: 12px;
}

.token-list-item .info p {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}